<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to the Tag App</h1>
  <p>
  This is the home page for a simple article tagging app by Alex Tsiras.
  </p>
  <%= link_to("Post an article", new_post_path , class: "btn btn-lg btn-primary") %>
</div>
