<footer>
  <nav>
    <ul class="nav navbar-nav navbar-fixed-bottom">
      <li><%= link_to (image_tag("github_icon.png")), "https://github.com/arialblack14", target: "_blank" %></li>
    </ul>
  </nav>
</footer>
